APP_NAME=Al-Amine
APP_ENV=local
APP_KEY=base64:zHekAVk9wY2D3xzWspva9iGXriPJidBh1Wux/IGCwm4=
APP_DEBUG=true
APP_URL=http://127.0.0.1:8000

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=al-amine
DB_USERNAME=postgres
DB_PASSWORD=1964

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=reverb
BROADCAST_DRIVER=pusher
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync

CACHE_STORE=database
# CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_SCHEME=null
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=birakanembodj01@gmail.com
MAIL_PASSWORD="clok bcet gtjf rvyn"
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS="birakanembodj01@gmail.com"
MAIL_FROM_NAME="Hôpital Al-Amine"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"

# PayDunya Configuration
PAYDUNYA_MODE=test
PAYDUNYA_MASTER_KEY=2hrey8Jg-nXfb-EBkW-Q1Mc-4GVvAm3z0dXy
PAYDUNYA_PRIVATE_KEY=test_private_eLzl0MIUvbbH72UiDGucCTQR4te
PAYDUNYA_PUBLIC_KEY=test_public_eRox6xAFxm64NmLsxsc7TFOYoO2
PAYDUNYA_TOKEN=93ego9x0RhAoDk8czvWn
PAYDUNYA_CURRENCY=XOF
PAYDUNYA_TIMEOUT=15

# URLs de callback PayDunya
PAYDUNYA_IPN_URL=https://df2d551fa38a.ngrok-free.app/paydunya/ipn
PAYDUNYA_RETURN_URL=http://127.0.0.1:8000/paydunya/return
PAYDUNYA_CANCEL_URL=https://df2d551fa38a.ngrok-free.app/paydunya/cancel

# Informations du marchand
PAYDUNYA_STORE_NAME="Al-Amine Medical Center"
PAYDUNYA_STORE_TAGLINE="Plateforme de santé"
PAYDUNYA_STORE_PHONE="+221 XX XXX XX XX"
PAYDUNYA_STORE_ADDRESS="Dakar, Sénégal"
PAYDUNYA_STORE_WEBSITE="${APP_URL}"
PAYDUNYA_STORE_LOGO="${APP_URL}/images/logo.png"

REVERB_APP_ID=alamine-chat
REVERB_APP_KEY=localkey
REVERB_APP_SECRET=localsecret
REVERB_HOST=127.0.0.1
REVERB_PORT=8080
REVERB_SCHEME=http

VITE_REVERB_APP_KEY="${REVERB_APP_KEY}"
VITE_REVERB_HOST="${REVERB_HOST}"
VITE_REVERB_PORT="${REVERB_PORT}"
VITE_REVERB_SCHEME="${REVERB_SCHEME}"

STRIPE_PUBLIC_KEY=pk_test_51SSqTaK2QAMxO78ehUMfM8ibXXtg6wH6GKdfgxioCFZpxNvgIjcJKmuSl30Hwj8cE16HlGsRzi4Y3N65U9Tp97Ca0097AqOtFv
STRIPE_SECRET_KEY=sk_test_51SSqTaK2QAMxO78eZ5VEFNcF3aKnuYadw7VwxkUy7g6WNpI86vpG2vQTPV3NnYtFnEklUILPN47FKrw3JeakObEu00iEkHgF9i
STRIPE_WEBHOOK_SECRET=whsec_ME0xLt0tN9JgpGTMnj2KmDOyw2KJS3Ro
STRIPE_CURRENCY=xof